PORT="3000"
NODE_ENV="development"

DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

FRONTEND_URL=https://cabinet.yourdomain.com
PUBLIC_FRONTEND_URL=https://yourdomain.com

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_CITIZEN_SECRET=your_jwt_citizen_secret_here

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_BOT_USERNAME=@your_bot_username
